{% if page and page.key.id() %}
<div class="form-group">
  <label for="">ID</label>
  <input type="text" class="form-control" value="{{ page.key.id() }}" disabled>
</div>
<div class="form-group">
  <label for="">Key</label>
  <input type="text" class="form-control" value="{{ page.key.urlsafe() }}" disabled>
</div>
{% endif %}
<div class="form-group">
  <label for="exampleInputEmail1">Title</label>
  <input name="title" type="text" class="form-control" placeholder="Page tile" value="{{ page.title }}">
</div>
<div class="form-group">
  <label for="exampleInputEmail1">Body</label>
  <textarea name="body" class="form-control html" rows="6">{{ page.body }}</textarea>
</div>
<div class="form-group">
  <label>Published at</label>
  <input id="published_at" name="published_at" type="text" class="form-control" value="{{ page.published_at }}">
</div>
<div class="btn-group">
  <a class="btn btn-default" href="{{ url_for('app_admin.pages') }}">
    back to pages
  </a>
  <button type="submit" class="btn btn-primary">
    {% if page.title %}
    Save
    {% else %}
    Create
    {% endif %}
  </button>
</div>
<script>
$(function () {
    $('#published_at').datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss'
    });
});</script>
